<section id="site-sidebar">
  <form id="lunr-search" class="lunr-search" role="search">
    <label for="lunr-search-input">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon lunr-search-icon"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
    </label>
    <input type="search" id="lunr-search-input" class="lunr-search-input">
  </form>

  <template id="search-result" hidden>
    <article class="content post">
        <h2 class="post-title"><a class="summary-title-link"></a></h2>
        <summary class="summary"></summary>
        <div class="read-more-container">
            <a class="read-more-link">{{ i18n "readMore" }} »</a>
        </div>
    </article>
  </template>s
  {{ if gt .Site.Params.sidebar.postAmount 0 }}
    <section id="recent-posts">
      <header>
        <h1>{{ i18n "recent_posts" }}</h1>
      </header>
      {{ range first (.Site.Params.sidebar.postAmount | default 5) (where site.RegularPages "Type" "in" site.Params.mainSections) }}
      <article class="mini-post">
          {{ .Render "featured" }}
        <header>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <time class="published" datetime="{{ .Date }}">{{ .Render "date" }}</time>
        </header>
      </article>
      {{ end }}
      {{ if ge (len (where site.RegularPages "Type" "in" site.Params.mainSections)) (.Site.Params.sidebar.postAmount | default 5) }}
        <footer>
          <a href="{{ ( .Site.Params.viewMorePostsLink | default "blog") | relLangURL }}" class="button">{{ i18n "see_more" }}</a>
        </footer>
      {{ end }}
    </section>
  {{ end }}

  {{ if .Site.Params.sidebar.categories }}
    {{ if ne ($.Scratch.Get "showCategories") false }}

      <section id="categories">
        <header>
          <h1><a href="{{ "categories" | relLangURL }}">{{ i18n "categories" (len .Site.Taxonomies.categories) }}</a></h1>
        </header>
        <ul>
          {{ $.Scratch.Set "categories" (cond .Site.Params.sidebar.categoriesByCount .Site.Taxonomies.categories.ByCount .Site.Taxonomies.categories.Alphabetical) }}
          {{ range $key, $value := $.Scratch.Get "categories" }}
          <li>
              <a href="{{ printf "%s/%s" "categories" $value.Name | urlize | relLangURL }}/">{{ $value.Name }}<span class="count">{{ $value.Count }}</span></a>
          {{ end }}
          </li>
        </ul>
      </section>
    {{ end }}
  {{ end }}

  {{ if .Site.Params.sidebar.about }}
    <section id="mini-bio">
      <header>
        <h1>{{ i18n "about" }}</h1>
      </header>
      <p>{{ .Site.Params.sidebar.about | safeHTML }}</p>
      <footer>
        <a href="{{ "about" | relLangURL }}" class="button">{{ i18n "learn_more" }}</a>
      </footer>
    </section>
  {{ end }}
</section>
